<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'WyvernCritics/../../../media/critics/img/favicon.png' %}">
    <title> Wyvern Critics {% block title %} {% endblock title %} </title>
    <!-- BULMA -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'WyvernCritics/vendor/bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'WyvernCritics/css/styles.css' %}">

</head>
<body class="main">

<!-- BARRA DE NAVEGACION -->
{% include 'general/header.html' %}

<!-- CONTENIDO DINAMICO -->
{% block content %}

{% endblock %}

<!-- FOOTER -->
{% include 'general/footer.html' %}

<!-- JAVASCRIPTS -->
<script src="{% static 'WyvernCritics/vendor/bulma/js/functions.js' %}"></script>
<script src="{% static 'WyvernCritics/vendor/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>
</html>
