<footer class="footer has-background-dark bottom">
    <div class="content has-text-centered has-text-white container">
        <h1>Wyvern Critics</h1>
        <div class="columns">
            <div class="column px-3">
                <h6>About Us</h6>
                <p class="has-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div class="column px-3">
                <h6>Social</h6>
                <div class="column has-text-center">
                    <a class="icon is-large">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="icon is-large">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="icon is-large">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="icon is-large">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="has-background-black has-text-white bottom">
    <div class="container is-fluid ">
        <div class="columns px-4">
            <div class="column is-10">
                <p>
                    <strong class="has-text-white">This Website was made</strong> by <a href="">GRID Society</a>. The source code is
                    licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
            <div class="column is-2">
                <a class="icon is-medium">
                    <i class="fab fa-instagram-square"></i>
                </a>
                <a class="icon is-medium">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </div>
</div>