@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Montserrat:wght@500&display=swap');



body {
    padding: 0;
    margin: 0;
    font-family: 'Manjari', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    background-color: #2f2f2f;
    background-image: url(../img/bg-img.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-img2 {
    background-color: #2f2f2f;
    background-image: url(../img/principal.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a.navbar-item:hover {
    background-color: #494949;
    color: white;
}

section .bg-img .container h1.title {
    color: #0a0a0a;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #f2f2f2;
}

section .bg-img .container h2.subtitle {
    color: #f2f2f2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0a0a0a;
}

section .bg-img2 .container h1.title {
    color: #0a0a0a;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #f2f2f2;
}

section .bg-img2 .container h2.subtitle {
    color: #f2f2f2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0a0a0a;
}

.card-info .column p.title{
    color: #f2f2f2;
}

.card-info .column p.subtitle{
    color: #f2f2f2;
}

footer .content h1{
    color: #fff;
}

footer .content h6{
    color: #fff;
}

.bottom .column a.icon{
    color: #fff
}



.fa-facebook:hover{
    color: #1d13d2
}

.fa-twitter:hover{
    color: #1d72aa;
}

.fa-google:hover{
    color: #db0c23;
}

.fa-linkedin-in:hover{
    color: #023151;
}

.fa-instagram-square:hover{
    color: #8447c6
}

.fa-telegram:hover{
    color: #49c7f8
}